mysql/*
init/*
snapshots/*
directus/uploads/*
public
public/*
.DS_Store
*.DS_STORE
config.sh
# dotenv environment variable files
.env
.env-dev
.env.development.local
.env.test.local
.env.production.local
.env.local
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
# Runtime data
pids
*.pid
*.seed
*.pid.lock
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release
# Dependency directories
node_modules/
jspm_packages/
# Snowpack dependency directory
web_modules/
# Optional npm cache directory
.npm